.chat-main
    .main-header
        .header-left
            %h2.current-group TEST
            %ul.member-list 
                %li.member-first Member:tomoki
        .header-right
            .edit-btn
                = link_to("Edit","#")
    .messages
        .one-message 
            .one-message__name-box
                %p.one-message__name-box__text tomoki
                %ul.one-message__name-box__day
                    %li.one-message__name-box__day__time 2020/03/27
            .one-message_box
                %p.name-box__text 今日はあったかい
            .one-message__name-box
                %p.one-message__name-box__text tomoki
                %ul.one-message__name-box__day
                    %li.one-message__name-box__day__time 2020/03/27
            .one-message_box
                %p.name-box__text 今日はあったかい
    .main-footer
        .new-message
            .new-message__box
                %input.input-text{placeholder: "type a message", type: "text"}
                %label{class: "new-message__box__image"}  
                    =icon('far', 'image')
                    %input{type: "file", class: "hyde"}
            %input.submit-btn{name: "commit", type: "submit",value: "Send"}
            