.chat-side
    .side-header
        .side-header__box
            %p.side-header__box__user-name tomoki
            %ul.edit
                = link_to "#" do
                    =icon('far', 'edit')
                %li.edit-icon
                = link_to "#" do
                    =icon('fas', 'cog')
                %li.user-icon
    .groups
        %ul.group-all 
            %li.group-first techcamp
            %li.group-second まだメッセージがありません
    